@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

 <!DOCTYPE html>
<html>
<head>
<title>PizzaMama</title>
<link rel="stylesheet" href="~/css/style.css"/>
</head>
<body class="home_page">
<div class="centered">
    <a asp-page="Index"><img src="~/images/main_logo.png"/></a>
    <p> <a asp-page="MenuPizzas" class="home_page">Voir le menu </a></p>
</div>

</body>
</html> 



